.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer-left {
  flex: 1;
  margin-left: 62px;
  padding: 13px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 100px;
}

.footer-logo {
  max-width: 100px;
}

.footer-description {
  margin: 10px 0;
  font-size: 17px;
  color: #333;
}

.footer-button {
  background-color: #d07540;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

/* Border container styling */
.footer-border {
  border: 2px solid #d07540;
  border-radius: 75px 0 0 0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-right: none;
  border-bottom: none;
  padding-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.footer-contact h3,
.footer-social h3 {
  font-size: 14px;
  color: #d07540;
}

.footer-contact p,
.footer-social .icon {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.icon {
  display: inline-block;
  padding: 8px;
  border: 1px solid #d07540;
  border-radius: 50%;
  color: #d07540;
  text-decoration: none;
  font-size: 16px;
}

.footer-social .icon:hover {
  background-color: #d07540;
  color: #fff;
}

.footer-copyright {
  font-size: 12px;
  color: #999;
  margin-top: auto;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 160px;
}
