.welcome-message {
    font-size: 3em;
    color: #4e4a8a; /* Dark blue from your palette */
    animation: fadeIn 1s ease forwards, fadeOut 1s ease forwards 2s; /* Fades in and out */
    text-align: center;
}


.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.serviceshide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 20px;

}
