
.welcome-message {
    font-size: 3vw;
    color: #4e4a8a; 
    animation: fadeIn 1s ease forwards, fadeOut 1s ease forwards 2s; 
    text-align: center;
    transition: opacity 1s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-message img {
    width: 20%; 
    height: auto;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.serviceshide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    margin-bottom: 20px;
    padding-top: 22px;
}

@keyframes swing-keys {
    0% {
        transform: rotate(0deg); 
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg); 
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.logoanimation {
    animation: swing-keys 2s ease-in-out infinite;
    transform-origin: top center; 
    max-width: 100%;
}

@media (max-width: 768px) {
    .welcome-message {
        font-size: 5vw; 
    }

    .welcome-message img {
        width: 30%; 
    }
}

@media (max-width: 480px) {
    .welcome-message {
        font-size: 6vw; 
    }

    .welcome-message img {
        width: 40%; 
    }
}

@media (max-width: 768px) {
    .logoanimation {
        width: 30%; 
    }
}

@media (max-width: 480px) {
    .logoanimation {
        width: 50%; 
    }
}

.welcome-message h1 {
    font-size: 5vw;
}